@font-face {
    font-family: DMSerifDisplay;
    src: url(sansation_light.woff);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #151F28;
}

.page-container {
    display: flex;
    position: fixed;
    background-color: white;
    border-radius: 15px;
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    margin-left: 42px;
    margin-top: 42px;
}

.main-content {
    flex: 1;
}

.sidebar {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 300px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    background-color: #131c23;
    border-radius: 15px;
    height: calc(100% - 100px);
    margin-bottom: 20px;
}


.portrait-photo {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
}

.name {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    color: rgb(233, 233, 250);
    text-align: center;
}

.occupation {
    font-family: 'DM Serif Display', serif;
    font-size: 16px;
    color: rgb(233, 233, 250);
    text-align: center;
    background-color: rgb(15, 22, 29);
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 15px;
}

.student {
    padding-top: 10px;
    margin-bottom: 5px;
}

.degree {
    margin-top: 5px;
    padding-bottom: 10px;
    text-align: center;
}

.line-break {
    width: 240px;
    color: white;
}

.email-container, .phone-container, .location-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding-top: 20px;
}

.email, .phone-number, .location {
    display: inline-block;
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
    color: rgb(233, 233, 250);
    text-align: center;
}

.email-icon-container, .phone-icon-container, .location-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30404E;
    width: 48px;
    height: 48px;
    border-radius: 15px;
}

.email-icon, .phone-icon, .location-icon, .social-button {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(116deg) brightness(109%);
}

.email-line-break, .phone-line-break, .location-line-break {
    border-color: #30404E;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.email-title, .phone-title, .location-title {
    font-family: 'DM Serif Display', serif;
    font-size: 12px;
    color: #5a6670;
    margin-bottom: 0px;
    margin-top: 0px;
}

.media-button-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(15, 22, 29);
    margin-top: 50px;
    border-radius: 15px;
    margin-top: auto;
}

.media-button {
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(15, 22, 29);
    gap: 5px;    
}

.container-section {
    display: none;
}

.container-section.active {
    display: block;
    overflow-y: scroll;
    height: calc(100% - 60px);
    margin-left: 10px;
}

#resume-container {
    padding-left: 50px;
    padding-right: 50px;
}

.main-container {
    display: flex;
}


/* CSS */
.media-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #c9c9c9;
  border-radius: 15px;
  box-sizing: border-box;
  color: #c9c9c9;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.media-button:disabled {
  pointer-events: none;
}

.media-button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.media-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.buffer {
    width: 300px;
    height: 100%;
    background-color: #131c23;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.resume-header {
    text-align: center;
}

.resume-header h1 {
    margin-bottom: 0px;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.contact-info p {
    margin: 0px;
}

.education-header {
    text-align: left;
}

.education-header h2 {
    margin: 0px;
}

.ubc-education {
    display: flex;
    justify-content: space-between;
}

.ubc-left h3, .ubc-right h3 {
    margin: 0px;
    font-weight: normal;
    color: rgb(55, 118, 177);
}

.ubc-left p {
    font-style: italic;
    text-align: left;
}

.ubc-right h3, p {
    margin: 0px;
    text-align: right;
    font-weight: normal;
}

.sfu-education {
    display: flex;
    justify-content: space-between;
}

.sfu-left h3, .sfu-right h3 {
    margin: 0px;
    margin-top: 8px;
    font-weight: normal;
    color: rgb(55, 118, 177);
}

.sfu-left p {
    font-style: italic;
}

.sfu-right h3, p {
    margin: 0px;
    margin-top: 8px;
    text-align: right;
    font-weight: normal;    
}

.work-experience-header h2 {
    margin: 0;
    margin-top: 8px;
}

.advisor-flow-header, .alex-hope-header {
    display: flex;
    justify-content: space-between;
}

.advisor-flow-header-left h3, p {
    margin: 0px;
    text-align: left;
}

.advisor-flow-header-left h3 {
    color: rgb(55, 118, 177);
    font-weight: normal;
}

.advisor-flow-header-left p, .alex-hope-header-left p {
    font-style: italic;
}

.advisor-flow-header-right p, .alex-hope-header-right p {
    margin: 0px;
    font-weight: normal;
}

ul li {
    margin: 0px;
    list-style-position: outside;
    padding-left: 20px;
}

ul {
    margin: 0px;
    margin-top: 8px;
}

.technical-projects-header h2 {
    margin: 0px;
    margin-top: 8px;
}

.folio-top h4, .folio-top p, .casino-top p, .portfolio-top p, .casino-top h4, .portfolio-top h4, .alex-hope-header-left h4{
    margin: 0px;
}

.volunteer-experience-header h2, .technical-skills-header h2 {
    margin: 0px;
    margin-top: 8px;
}

.portfolio-top, .folio-top, .casino-top {
    display: flex;
}

.portfolio-top h4, .folio-top h4, .casino-top h4, .alex-hope-header-left h4 {
    color: rgb(55, 118, 177);
    font-weight: normal;
}

.languages-header h4, .frameworks-header h4, .tools-header h4, .languages-list p, .tools-list p, .frameworks-list p {
    margin: 0px;
    margin-top: 8px;
}

.technical-skills-header {
    padding-bottom: 20px;
}

.languages, .tools, .frameworks {
    display: flex;
}